body {
  min-height: 100vh;
  background-color: #02ca84;
  color: white;
  font-family: "Oswald", sans-serif;
}
h2,
h3 {
  font-family: "Oswald", sans-serif;
}
.titulo {
  text-align: center;
}

.fotoPerfil {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}

.fotoPerfil img {
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
}
.centro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nombreUsuario h2 {
  text-align: center;
}
.card {
  width: 60%;
  color: rgb(128, 128, 128);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.detalles {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-address {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  /* Adjust styles for small screens */
  img {
    height: 10vh;
    width: 10vh;
  }

  .email-address {
    display: block;
    font-size: 35px;
    word-wrap: break-word;
    line-height: 1.5;
  }
  .card {
    width: 95%;
  }
}

/* For screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .titulo {
    font-size: 1.5rem;
  }

  .fotoPerfil img {
    border-radius: 50%;
    height: 6vh;
    width: 6vh;
  }

  .nombreUsuario h2 {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 0.8rem;
    margin-top: 1vh;
  }

  .email-address {
    font-size: 35px;
    word-wrap: break-word;
    line-height: 1.5;
  }
  .card {
    width: 95%;
  }
}

/* For screens larger than 600px */
@media only screen and (min-width: 601px) {
  .titulo {
    font-size: 2rem;
  }

  .fotoPerfil img {
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
  }

  .nombreUsuario h2 {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 1rem;
    margin-top: 2vh;
  }

  .email-address {
    font-size: 35px;
    word-wrap: break-word;
    line-height: 1.5;
  }
  .card {
    width: 95%;
  }
}
