<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid">
      <br />
      <h1>Crear entrenadores</h1>

      <div class="card">
        <div class="container">
          <div class="form-group">
            <h2 for="name">Nombre entrenador</h2>
            <input
              type="text"
              class="form-control"
              id="nombre"
              placeholder="Nombre entrenador"
            />
            <br />
            <div class="form-group">
              <h2 for="text">Correo entrneador</h2>
              <input
                type="email"
                class="form-control"
                id="correo"
                placeholder="Correo entrneador"
              />
            </div>
            <br />

            <h2>Contraseña</h2>
            <div class="row">
              <div class="col-12"><h1>**********************</h1></div>
            </div>
            <div class="row">
              <div class="col-2 col-sm-2 col-md-2 col-xl-1">
                <button class="btn">Ver</button>
              </div>
              <div class="col-10 col-sm-10 col-md-10 col-xl-3">
                <button class="btn">Nueva contraseña</button>
              </div>
            </div>

            <br />
            <button class="btn">Registro</button>
          </div>
        </div>
      </div>
      <br />
      <h1 class="centro">
        ¡Recuerda decirle a el usuario que cambie la contraseña la primera vez
        que inicie sesión!
      </h1>
    </div>
  </body>
</html>
