
    <router-outlet></router-outlet>


    <mat-toolbar class="toolbarNav">
      <button mat-flat-button (click)='coins()' routerLinkActive="active-link">
        <mat-icon class="material-icons color_blue">
          directions_run</mat-icon>
      </button>

      <button mat-flat-button routerLink="/top-tracks" routerLinkActive="active-link">
        <mat-icon class="material-icons color_blue">dashboard
        </mat-icon>
      </button>

      <button mat-flat-button routerLink="/top-tracks" routerLinkActive="active-link">
        <mat-icon class="material-icons color_blue"> ondemand_video
        </mat-icon>
      </button>


      <button mat-flat-button routerLink="/top-tracks" routerLinkActive="active-link">
        <mat-icon class="material-icons color_blue"> note_add
        </mat-icon>
      </button>

      <button mat-flat-button routerLink="/history" routerLinkActive="active-link">
        <mat-icon class="material-icons color_blue">settings</mat-icon>
      </button>

     

    </mat-toolbar>
