.centro {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  min-height: 100vh;
  background-color: #02ca84;
  color: white;
  font-family: "Oswald", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
}
.titulo {
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.centro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  margin-top: 0.1vh;
  background-color: #02ca84;
  color: white;
}
h1,
h2,
h3,
h4 {
  margin-left: 1%;
  margin-bottom: 0px;
}

img {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
}

.noticia {
  border-radius: 0%;
  height: 20vh;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.tituloNoticia {
  text-align: center;
  height: 5vh;
  overflow-x: hidden;
}

.fecha {
  float: right;
  margin-right: 1%;
}
.texto {
  height: 5vh;
  overflow-x: hidden;
}

.fotoYnombre {
  margin-left: 1%;
  margin-top: 1%;
}

.noticias {
  overflow-x: hidden;
  height: 20vh;
  width: 40%;

  max-height: calc(100vh - 200px);
}

.noticias::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
}
.noticias::-webkit-scrollbar:window-inactive {
  display: none;
}
.noticias::-webkit-scrollbar-thumb {
  background-color: #007f53;
  border-radius: 6px;
}
@media only screen and (max-width: 768px) {
  .noticias {
    width: 95%;
  }
}

@media only screen and (max-width: 576px) {
  .noticias {
    width: 95%;
  }
}

@media only screen and (max-width: 480px) {
  .noticias {
    width: 95%;
  }
}

@media only screen and (max-width: 375px) {
  .noticias {
    width: 95%;
  }
}
