.card {
  width: 80%;
  background-color: #212529;
}
.centro {
  display: flex;
  align-items: center;
  justify-content: center;
}
.color_blue {
  color: red;
}
.nohay {
  text-align: center;
}

table {
  min-height: 60vh;
}
body {
  font-family: "Oswald", sans-serif;
}
h1,
h2 {
  font-family: "Oswald", sans-serif;
}
